<html>
    <h1> Search Complete </h1>

    <p><b> User: </b></p>
    <%= params[:user] %>
    <p><b>Repo: </b></p>
    <%= params[:repo] %>
    <h2> Data: </h2>

    <h4> Language </h4>
    <p> Primary language is: <%= @repo.language %></p>
    <p> Other language data: <%= @languages %></p>

    <% @pulls.each do |pull| %>
        <h5>Pull</h5>
        <p>Pull request is: <%= pull.inspect %></p>
    <% end %>


</html>
