<html>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="search-h1"> 
          <%= params[:user] %>'s
        </div>
        <div class="search-h2">
          <%= params[:repo] %>
        </div>
      </div>

    </div>
    <h4> Language </h4>
    <p> Primary language is: <%= @repo.language %></p>

    <img src="<%= getLanguageURL @repo.language %>" alt="Language Image">

    <p> Other language data: <%= @languages %></p>

    <% @pulls.each do |pull| %>
        <h5>Pull</h5>
        <p>Pull request is: <%= pull.inspect %></p>
    <% end %>


</html>
