<html>
    <div class="row">
        <div class="search-h1"> 
          <%= params[:user] %>'s
        </div>
        <div class="search-h2">
          <%= params[:repo] %>
        </div>
    </div>

    <div class="row" style="padding-top: 80px">
      <div class="col-md-offset-3 col-md-2 image_container">
        <%= image_tag((getLanguageURL @repo.lang), class: "img-responsive") %>
      </div>
      <div class="col-md-2">
        <p><%= raw(buildStars @repo.stars) %></p>
        <p>Star Count: <%= @repo.stars %></p>
      </div>
      <div class="col-md-2">
        <h3><%= (@repo.growth_rate).round(2) %> stars per day</h3>
        <p class="text-center" style="padding-top: 30px"><%= raw(buildReadme @repo.readme) %></p>
      </div>
    </div>
    <hr width="70%" style="border-top: 2px solid gray">

    <div class="row" style="padding: 50px">
      <div class="col-md-offset-3 col-md-3 ">
        <h4>Birthday</h4>
        <p><%= @repo.created %></p>
        <p>Age: <%= @repo.age.round %> days</p>
      </div>
      <div class="col-md-3 ">
        <p class="text-center"><%= raw(buildContributors @repo.contributors) %></p>
        <p class="text-center"">(<%= @repo.contributors %> Contributors)</p>
      </div>
    </div>

    <hr width="70%" style="border-top: 2px solid gray">

    <div class="row">
      <div class="col-md-offset-3 col-md-4 ">
        <div class="chart">
            <% legend = {"position" => "top", "maxLines" => 5 } %>
            <%= pie_chart @repo.languages.each, library: {backgroundColor:"#ECF0F1", legend: legend, width: "100%"} %>    
        </div>
      </div>
      <div class="col-md-2 ">
        <h4>This is <%= params[:user] %>'s</h4>
        <h2>#<%= raw(@repo.popularity) %></h2>
        <h4>Most popular repo</h4>
      </div>
    </div>

    <hr width="70%" style="border-top: 2px solid gray">

    <div class="row">
      <div class="col-md-offset-3 col-md-3 ">
        <h2><%= @repo.pulls_merged %>% </h2>
        <p>Of pull requests are merged</p>
      </div>
      <div class="col-md-3">
        <p class="text-center">Ratio of pull requests to open issues: </p>
        <h2><%= pulls_to_issues(@repo.pulls_merged, @repo.issues) %></h2>
      </div>
    </div>

  <div class="text-center" style="padding: 80px">
    <div class="btn-group">
      <a href="/" type="button" class="btn btn-default btn-large"> Return to Homepage </a>
      <a href="?refresh=true" type="button" class="btn btn-default btn-large"> Reload Data </a>
    </div>
  </div>
</html>
