<html>
    <h1> Search Complete </h1>

    <p><b> User: </b></p>
    <%= params[:user] %>
    <p><b>Repo: </b></p>
    <%= params[:repo] %>
    <h2> Data: </h2>

    <h4> Language </h4>
    <p> Primary language is: <%= @repo.language %></p>

    <img src="<%= getLanguageURL @repo.language %>" alt="Language Image">

    <h4> Other language data:</h4>
    <% @languages.each do |key,value| %>
        <p><%= key %>: <%= value %> bytes.</p>
    <% end %>

    <h4>Pulls</h4>
    <% @pulls.each do |pull| %>
        <p>Pull request <%= pull.number %> is: <%= pull.state %></p>
    <% end %>


</html>
