<html>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="search-h1"> 
          <%= params[:user] %>'s
        </div>
        <div class="search-h2">
          <%= params[:repo] %>
        </div>
      </div>

    </div>
    <h4> Language </h4>
    <p> Primary language is: <%= @repository.repo.language %></p>

    <div class="row">
      <div class="col-md-2 image_container">
        <%= image_tag((getLanguageURL @repository.repo.language), class: "img-responsive") %>
      </div>
    </div>

    <h4> Other language data:</h4>
    <% @repository.languages.each do |language,bytes| %>
        <p><%= language %>: <%= bytes %> bytes.</p>
    <% end %>

    <h4>Pulls</h4>
    <% @repository.pulls.each do |pull| %>
        <p>Pull request <%= pull.number %> is: <%= pull.state %></p>
    <% end %>

	<h4>Contributors</h4>
	<p><%= @repository.contributors %></p>
	
	<h4>Readme</h4>
	<p><%= @repository.read %></p>
	
	<h4>Stars</h4>
	<p>Star Count: <%= @repository.repo.stargazers_count %></p>
    <%= @repository.relativePopularity %>
	
	<h4>Growth Rate</h4>
	<p>Repo Created: <%= @repository.growthRate.repoTime %></p>
    <p>Current time: <%= @repository.growthRate.time %></p>
	<p>Approximately <%= @repository.growthRate.rate %> stars per day</p>
	
	<%= link_to 'Return to Homepage', :back %>

</html>
