<html>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="search-h1"> 
          <%= params[:user] %>'s
        </div>
        <div class="search-h2">
          <%= params[:repo] %>
        </div>
      </div>

    </div>
    <h4> Language </h4>
    <p> Primary language is: <%= @repo.language %></p>

    <img src="<%= getLanguageURL @repo.language %>" alt="Language Image">

    <h4> Other language data:</h4>
    <% @languages.each do |key,value| %>
        <p><%= key %>: <%= value %> bytes.</p>
    <% end %>

    <h4>Pulls</h4>
    <% @pulls.each do |pull| %>
        <p>Pull request <%= pull.number %> is: <%= pull.state %></p>
    <% end %>


</html>
